/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: #29d;
  
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 2px;
  }
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }

  .calendar-modal {
    min-width: 28.7rem;
    
    background: #efefef;
    position: absolute;
    top: 52px;
    right: 0;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #efefef;
    background: #fff;
    padding: 24px 12px;
    z-index: 10;
  
    .ndc-calendar-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      // gap: 24px;
      align-items: center;
      justify-content: center;
  
      & > div {
        // background: green;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin-bottom: 16px;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        height: 20px;
        color: #aaa;
      }
      .ndc-calendar-date {
        // cursor: pointer;
      }
      // .ndc-calendar-date:hover {
      //   background: #f8a730;
      //   color: #fff;
      //   border-radius: 50%;
      //   width: 20px;
      // }
  
      .active-date {
        background: #f8a730;
        color: #fff;
        border-radius: 50%;
        width: 20px;
      }
  
      .subsidiary-date {
        background: #f8a8303f;
      }

      .available {
        color: #1a1a1a;
        cursor: pointer;
      }

      .available:hover {
        background: #f8a730;
        color: #fff;
        border-radius: 50%;
        width: 20px;
      }

    }
  
    .calendar-header {
      & > div {
        color: #1a1a1a;
      }
    }
  
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #1a1a1a;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 1.6rem;
  
      & > div {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  
    &__button-group {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: end;
      button {
        width: 7.2rem;
        height: 3.2rem;
        outline: none;
        border: none;
        border-radius: 6px;
        background: #f8a730;
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      & > :first-child {
        border: 1px solid #667185;
        color: #1a1a1a;
        background: transparent;
      }
    }
  }
  
.ndclist-table__header__select-container {
  position: relative;
}
  
.ndclist-table__header__select {
  min-width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2c2c2c;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 12px;
  border: 1px solid #e5e5e5;

  svg {
    margin-right: 8px;
  }

  & > :last-child {
    margin-left: 8px;
    margin-right: 0;
  }
}


  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &__image {
       
        animation: zoom 1s linear infinite;

        @keyframes zoom {
          0% { transform: scale(1) }
          100% { transform: scale(1.1) }
        }
      }
      
  }


  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f8a730;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



